.sidebar-link{
    width: 100%;
    height: 6vh;

    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;
}

.sidebar-link-paged {
    justify-content: space-around !important;
}

.sidebar-link:hover{
    background-color: var(--primary-color);
}

.sidebar-link:active{
    background-color: var(--tertiary-color);
}

.sidebar-link.active{
    background-color: var(--primary-color);
}

.sidebar-link.active:hover{
    background-color: var(--secondary-color);
}

.sidebar-link.active:active{
    background-color: var(--tertiary-color);
}